.ticket-point {
  display: flex;
  flex-direction: column;
  max-width: 6.8em;
  font-size: 1em;
}

.ticket-point__time {
  margin-bottom: 0.4125em;
  font-size: 2em;
  color: #4a4a4a;
  line-height: 0.81;
}

.ticket-point__origin {
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1.5;
  color: #4a4a4a;
}

.ticket-point__date {
  font-size: 0.75em;
  color: #8b9497;
}

.ticket-point--origin {
  text-align: left;
}

.ticket-point--destination {
  text-align: right;
}
