.ticket {
  display: flex;
  flex-wrap: wrap;
  min-height: 10em;
  margin-bottom: 1.25em;
  font-size: 1rem;
}

.ticket__side {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.56em 1.25em;
  border-right: 1px solid #eceff1;
}

.ticket__main {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5625em;
}

.ticket__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 3.5em;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  background-color: #ff6d00;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 #d64d08;
}

.ticket__buy:hover {
  background-color: #ff8124;
}

.ticket__carrier {
  display: inline-block;
  width: 7.5em;
  height: 2.1875em;
  margin-bottom: 1.25em;
}

.ticket__stops {
  position: relative;
  width: 11em;
  min-height: 2.6em;
  padding: 0 3.4em 0.2em 1.8em;
  font-size: 0.625em;
  font-weight: 600;
  line-height: 1.21;
  text-align: center;
  text-transform: uppercase;
  color: #8b9497;
  white-space: pre-line;
}

.ticket__stops::before {
  content: '';
  background-color: #d2d5d6;
  position: absolute;
  left: 0;
  right: 1.5em;
  bottom: 0.7em;
  height: 1px;
}

.ticket__stops::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0.1em;
  height: 1em;
  width: 1em;
  background-image: url('../../assets/icons/plane.svg');
  background-size: cover;
  font-size: 1.3em;
}

@media (max-width: 600px) {
  .ticket__main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ticket__point.ticket-point {
    text-align: center;
  }

  .ticket__stops {
    margin: 1.5em 0;
  }
}
