.template {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.template__aside {
  flex: 1 1 12.5em;
  min-width: 12.5em;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  padding: 1em;
}

.template__block {
  margin-bottom: 1.875em;
}

.template__block--full-width {
  margin-left: -1em;
  margin-right: -1em;
}

.template__block--full-width .template__title {
  margin-left: 1rem;
  margin-right: 1rem;
}

.template__content {
  flex: 1 1 auto;
}

.template__title {
  margin-bottom: 0.91em;
  font-size: 0.75em;
  line-height: 1.58;
  letter-spacing: 0.5px;
  text-align: left;
  color: #4a4a4a;
  text-transform: uppercase;
}

@media (max-width: 840px) {
  .template__aside {
    margin-right: 0;
  }
}
