@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: 0;
}
